body{
  margin:0px;
  padding:0px 10px 10px;
  width: 460px;
  font-size: 10pt;
}
h1{
  font-size: 12pt;
  border-style: solid;
  border-width: 1px;
  text-align: center;
}
p#p_user, p#p_title, p#p_url {
  margin-left: 20px;
  width: 420px;  
  white-space: nowrap;  
  overflow: hidden;  
  text-overflow: ellipsis;  
  -webkit-text-overflow: ellipsis;  
  -o-text-overflow: ellipsis;  
}

.popup_btn_disabled {
  color: #808080;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #007AFF;
  background-repeat: repeat-x;
  border-color: #007AFF;
  width: 130px;
  height: 34px;
  outline: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-image: -moz-linear-gradient(#96B9F6, #007AFF);
  background-image: -webkit-linear-gradient(#96B9F6, #007AFF);
  background-image: linear-gradient(#96B9F6, #007AFF);
  margin-bottom: 1em;
  border: 1px solid #C1E7F8;
}


.popup_btn {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #007AFF;
  background-repeat: repeat-x;
  border-color: #007AFF;
  width: 130px;
  height: 34px;
  outline: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-image: -moz-linear-gradient(#96B9F6, #007AFF);
  background-image: -webkit-linear-gradient(#96B9F6, #007AFF);
  background-image: linear-gradient(#96B9F6, #007AFF);
  margin-bottom: 1em;
  border: 1px solid #C1E7F8;
}

div #header{
  width: 100%;
  margin: 0px;
}
div #main_box{
  width: 100%;
  padding:10px;
  border-style: solid;
}
div #main_title{
  width: 90%;
  text-align: left;
  margin: 0 auto;
}
div #note{
  width: 90%;
  text-align: left;
  margin: 0 auto;
  color: red;
  font-size: 8pt;
}
div #progress{
  width: 90%;
  margin: 0 auto;
  border-style: dashed;
  border-width: 1px;
  padding:5px;
  font-size: 8pt;
  display: none;
}
div #progress_bar{
  width: 330px;
  height: 18px;
  border-width: 1px;
}
div #progress_elem{
  position: relative;
  width: 284px;
  top: -20px;
  left: 2px;
  border-width: 1px;
}
.prgs_img{
  position: relative;
  top: 0px;
  left: 0px;
  width: 12px;
  height: 12px;
  margin: 1px;
  display: none;
}

.bmk_img{
  height: 16px;
  width: 16px;
}

div #btn{
  width: 90%;
  margin: 0 auto;
}
div #installing_page_url{
  width: 240px;
  white-space: nowrap;
  overflow: hidden;
}

td.prgs_key{
  width: 50px;
  white-space: nowrap;
  overflow: hidden;
}
td.prgs_sep{
  width: 20;
}
td.prgs_val{
  width: 180;
  white-space: nowrap;
  overflow: hidden;
}
td.prgs_unit{
  width: 50px;
}

td.rcmd_key{
  width: 15px;
  white-space: nowrap;
  overflow: hidden;
}
td.rcmd_val{
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
}
td.rcmd_img{
  width: 20px;
  white-space: nowrap;
  overflow: hidden;
}

div #main_recommend{
  width: 80%;
  text-align: left;
  margin: 0 auto;
  font-size: 8pt;
}

div.title {
  width: 80%;
  margin: 0 auto;
}
