<% content_for :head do %>
  <%= stylesheet_link_tag "article_lists" %>
<% end %>

<div id="article_lists">
  <% if @articles != nil && @articles.length != 0 %>
    <% @articles.each do |article| %>
      <p><%= article.title %></p>
    <% end %>
  <% end %>
</div>