<script>
$(document).ready(function() {
    $("#add_form").validate({});
});
</script>
<form id="add_form" action="add_confirm">
  <div class="center">
    URLを入力してください。
    <input type="text" name="url" id="url" class="required url">
    <input type="submit" id="add_submit" value="登録！">
  </div>
</form>
