<% content_for :head do %>
  <%= stylesheet_link_tag "webpage" %>
<% end %>

<div class="comment_box">Register URL.</div>
<div class="add_url">
  <%= form_tag({:action => 'add_confirm', :add_flag => true}, {:method => 'POST', :class => "form-vertical" ,:onsubmit => 'return check_url()'}) do %>
    <span id="text_url">URL</span>
    <input type="text" id="url" name="url" class="input_url_text" placeholder="Please input URL." onKeyUp="check_format()">
    <input type="submit" id="submit" value="next" class="button button-flat:hover"><br>
    <span id="add_msg"><%= @msg %></span>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <% end %>
</div>