<style>
	.highlight { font-size:20px; color:red }
</style>
<script>

$(function(){
	/*$("#msg").addClass("highlight").fadeOut("slow");*/
	$("#msg").addClass("highlight");
});
</script>
<div class="url_box">

  <div class="input_url">
  <div id="msg"><%= @msg %></div>
  <p><%=link_to "要約しちゃうぜ！", :controller => "summary", :action => "edit", article_id:@article_id %></p>
  </div>
</div>
