<div class="setting_container">
  <%= render :partial => "settings/partials/navilist", :locals => {:user => @user} %>

  <div class="setting_contents">
    <h3>User Profile</h3>
    <div class="setting_inner">

      <dl>
        <dt>
          <label>Profile Image</label>
        </dt>
        <dd>
          <%= image_tag(getLoginUser.prof_image, :size => "128x128") %>
        </dd>
      </dl>

      <a href="<%= url_for :action => 'profile_edit' %>">
        <button class="profile_btn">edit</button>
      </a>

    </div>
  </div>
</div>
