<div class="hotentry_container">
<h1 class="hotentry">Hot Entry</h1>
<ul class="entry_container">

  <% @entries.each do |e| %>
  <li>
    <div class="entry_box">
      <div class="entry_box_top">
        <div class="entry_title">
          <h3><%= e %>. Title</h3>
        </div>
        <div class="entry_count_num">
          <label>Summaries</label>
          </br>
          </br>
          <span>5</span>
        </div>
        <div class="entry_count_num">
          <label>Reading</label>
          </br>
          </br>
          <span>25</span>
        </div>
      </div>
      <div class="entry_box_left">
        <div class="entry_summary_label">
          <label>Top rated summary</label>
        </div>
        <div class="entry_top_icon">
        </div>
        <div class="entry_top_summary">
          <div class="entry_top_summary_user">
            <%= image_tag "account_pictures/23_uploaded_image_Australia.png", :class => "summarist_icon", :size => "26x26" %>
            <label>UserName</label>
        </div>
          <textarea disabled="disabled">
This is a top rated summary.
Best summary is here.
Wonderful summary!
          </textarea>
        </div>
        <div class="entry_top_like">
          <div class="entry_like_num">
            <div>10</div>
          </div>
          <%= image_tag "favicon_munch.png", :size => "48x48" %>
          <div class="entry_top_like_label">
            <label>Good Summary</label>
          </div>
        </div>
      </div>
      <div class="entry_box_right">
        <%= image_tag "http://img.simpleapi.net/small/http://www.rubylife.jp/rails/model/index7.html", :size => "128x160" %>
      </div>
      <div class="entry_clear">
      </div>
    </div>
  </li>
  <% end %>

</ul>
</div>
