<% content_for :head do %>
  <%= stylesheet_link_tag "error" %>
<% end %>

<div class="container">
  <div class="span2">
    <h2>お探しのページは見つかりませんでした。</h2>
    <HR>
    <p>URLをお間違えか、お探しのページが削除された可能性があります。</p>
    <p>お手数ですが、正しいURLを入力して頂くか、元の画面へ戻って下さい。</p>
    <%= link_to image_tag("icons/glyphicons_435_undo.png", :size => "14x14") + "元の画面に戻る", :back %>
  </div>
</div>