<% content_for :head do %>
  <%= stylesheet_link_tag "error" %>
<% end %>

<div class="container">
  <div class="span2">
    <h2>システムエラー</h2>
    <HR>
    <p>システムエラーを検出したため、ページを表示することが出来ませんでした。</p>
    <p>お手数ですが、時間をおいて再度アクセスするか、元の画面へ戻って下さい。</p>
    <%= link_to image_tag("icons/glyphicons_435_undo.png", :size => "14x14") + "元の画面に戻る", :back %>
  </div>
</div>