<% content_for :head do %>
  <%= stylesheet_link_tag "error" %>
<% end %>

<div class="container">
  <div class="span2">
    <p>お探しのページは見つかりませんでした。</p>
    <HR>
    <p>URLに間違いはありませんか？</p>
  </div>
</div>