<% content_for :head do %>
  <%= stylesheet_link_tag "error" %>
<% end %>

<div class="container">
  <div class="span2">
    <p>サーバーがエラーを検出したため、実行することができませんでした。<p>
    <HR>
    <p>しばらく時間をおいてからもう一度アクセスして頂くか、管理者にお問い合わせください。</p>
  </div>
</div>