<div class="profile_container">
  <div class="profile_box">
    <h3>User Profile</h3>
    <div class="profile_box_inner">

      <dl>
        <dt>
          <label>UserId</label>
        </dt>
        <dd>
          <%= @uname %>
        </dd>
      </dl>

      <dl>
        <dt>
          <label>Mail Address</label>
        </dt>
        <dd>
          <%= @email %>
        </dd>
      </dl>

      <dl>
        <dt>
          <label>Profile Image</label>
        </dt>
        <dd>
          <%= image_tag(getLoginUser.prof_image, :size => "128x128") %>
        </dd>
      </dl>

      <a href="<%= url_for :action => 'profile_edit' %>">
        <button class="profile_btn">edit</button>
      </a>

    </div>
  </div>
</div>
