<% content_for :head do %>
  　<%= stylesheet_link_tag "consumer", "social-buttons/zocial.css"%>
<% end %> 

<div class="center_message">
  Logout complete: 
  <a href="/session/consumer/index">LogIn</a>
</div>
