<style type="text/css">
.error {
  color: red;
}
</style>
<script>
$(document).ready(function (){
  $('#summary_content').val('<%= @summary_content %>');
});

$(document).ready(function() {
    $("#edit_form").validate({});
});
</script>
<form action="edit_confirm" id="edit_form">
  <div class="center">
    <p>[title] <%= @title %></p>
    <p>[url] <%= @url %></p>
    <textarea id="summary_content" name="summary_content" cols=50 rows=6 maxlength="300" class="required"></textarea><br>
    <input type="submit" id="edit_summary_submit" value="要約"></input>
  </div>
</form>