.alert {
  border: 1px solid #e7dc2b;
  background: #fff888;
}
.login_error {
  border: 1px solid #ff0000;
  background: #ffaaaa;
}
.success {
  border: 1px solid #00ff00;
  background: #aaffaa;
}
#verify-form {
  border: 1px solid #777777;
  background: #dddddd;
  margin-top: 1em;
  padding-bottom: 0em;
}
input.openid {
  background: url( /images/openid_login_bg.gif ) no-repeat;
  background-position: 0 50%;
  background-color: #fff;
  padding-left: 18px;
}      
