.alert {
  border: 1px solid #e7dc2b;
  background: #fff888;
}
.login_error {
  border: 1px solid #ff0000;
  background: #ffaaaa;
}
.success {
  border: 1px solid #00ff00;
  background: #aaffaa;
}
#verify-form {
  border: 1px solid #777777;
  background: #dddddd;
  margin-top: 1em;
  padding-bottom: 0em;
}
input.openid {
  background: url( /images/openid_login_bg.gif ) no-repeat;
  background-position: 0 50%;
  background-color: #fff;
  padding-left: 18px;
}

.setting_container {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.setting_navi {
  float: left;
  width: 220px;
  padding: 3px;
  background: #efefef;
  border-radius: 2px;
}

.setting_navi > .setting_inner {
  padding: 1px;
}

.setting_navi > .setting_inner > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
}

.setting_navi > .setting_inner > ul > li {
  border-radius: 2px;
  border: 1px solid #d8d8d8;
}

.setting_navi > .setting_inner > ul > li > a {
  color: #4183c4;
  text-decoration: none;
  display: block;
  padding: 8px 10px 8px 8px;
  text-shadow: 0 1px 0 #fff;
  border-left: 2px solid #fafafb;
  background: #fafafb;
}

.setting_navi > .setting_inner > ul > li > a.selected {
  background: #fff;
  border-left: 2px solid #d26911;
  font-weight: bold;
  color: #222;
  cursor: default;
  box-shadow: inset 0 0px 1px rgba(0,0,0,0.1);
}

.setting_contents {
  float: right;
  width: 715px;
  position: relative;
  background: #efefef;
  padding: 3px;
  border-radius: 3px;
  margin: 0 0 15px 0;
}

.setting_contents > h3, .setting_navi > h3 {
  background-color: #e0e0e0;
  background-image: linear-gradient(#fafafa, #e0e0e0);
  background-repeat: repeat-x;
  margin: 0;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border: 1px solid #d8d8d8;
  border-bottom: none;
  padding: 10px 10px 11px 10px;
  font-size: 14px;
  text-shadow: 0 1px 0 #fff;
}

.setting_navi > h3 {
  font-size: 12px;
}

.setting_inner {
  padding: 1px 10px;
  background: #fff;
  border: 1px solid #d8d8d8;
  border-top: 1px solid #ccc;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  color: #666;
  font-size: 13px;
}

.setting_inner > dl > dd {
  border: 1px solid #d8d8d8;
  padding: 10px;
  margin-left: 0;
}

.setting_inner > dl > input {
  border: 1px solid #d8d8d8;
  padding: 10px;
  margin-left: 0;
}

.setting_inner > dl > dt > label {
  font-weight: bold;
}

.profile_btn {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #60b044;
  background-repeat: repeat-x;
  border-color: #5ca941;
  width: 130px;
  height: 34px;
  outline: none;
  border-radius: 5px;  /* CSS3草案 */
  -webkit-border-radius: 5px;  /* Safari,Google Chrome用 */
  -moz-border-radius: 5px; /* Firefox用 */
  background-image: -moz-linear-gradient(#8add6d, #60b044);
  background-image: -webkit-linear-gradient(#8add6d, #60b044);
  background-image: linear-gradient(#8add6d, #60b044);
  margin-bottom: 1em;
  border: 1px solid #d8d8d8;
}

.google_btn {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #dd4b39;
  background-repeat: repeat-x;
  border-color: #dd4b39;
  width: 130px;
  height: 34px;
  outline: none;
  border-radius: 5px;  /* CSS3草案 */
  -webkit-border-radius: 5px;  /* Safari,Google Chrome用 */
  -moz-border-radius: 5px; /* Firefox用 */
  background-image: -moz-linear-gradient(#E48383, #dd4b39);
  background-image: -webkit-linear-gradient(#E48383, #dd4b39);
  background-image: linear-gradient(#E48383, #dd4b39);
  margin-bottom: 1em;
  border: 1px solid #EBCDCD;
}

.facebook_btn {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #007AFF;
  background-repeat: repeat-x;
  border-color: #007AFF;
  width: 130px;
  height: 34px;
  outline: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-image: -moz-linear-gradient(#96B9F6, #007AFF);
  background-image: -webkit-linear-gradient(#96B9F6, #007AFF);
  background-image: linear-gradient(#96B9F6, #007AFF);
  margin-bottom: 1em;
  border: 1px solid #C1E7F8;
}

