// Place all the styles related to the Hotentry controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
  color: #999;
}

div.hotentry-container {
  margin: auto;
  min-width: 620px;
  width: 60%;
  border: solid 1px #eee;
}

div.hotentry-menu {
  background-color: #e6e6e6;
  margin-bottom: 5px;

  h3 {
    color: white;
    margin: 0;
    font-size: 14px;
    padding: 10px 10px 11px 10px;
  }
}

div.hotentry-row {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: solid 2px #eee;
  border-left: solid 3px #F5AC0F;
}

div.hotentry-row-with-summary {
  border-left: solid 3px #F5AC0F;
}

div.hotentry-row-no-summary {
  border-left: solid 3px #0FC7F5;
}

div.hotentry-small-row {
  margin-bottom: 2px;
  padding-bottom: 5px;
  border-bottom: solid 2px #eee;
}

div.hotentry-large-row {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: solid 2px #eee;
}

div.hotentry-large-row-nosum,  {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: solid 2px #eee;
}

div.hotentry-small-order, div.hotentry-small-order-nosum {
  font-size: 32px;
}

div.hotentry-normal-title, div.hotentry-small-title, div.hotentry-large-title {

  h4 {
    color: #999;
    text-decoration: underline;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 24px;
  }

  h5 {
    color: #999;
    text-decoration: underline;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 20px;
  }

  margin-bottom: 5px;
}

div.hotentry-small-title {
  min-height: 30px;
}

div.hotentry-large-title {
  border-bottom: solid 1px #eee;
  min-height: 65px;
}

div.hotentry-normal-summaries, div.hotentry-small-summaries {
  font-size: 11px;
}

div.hotentry-large-contents {
  p {
    font-size:14px;
    border: solid 1px #eee;
    height: 180px;
    padding: 5px;
    margin-bottom: 0;
    margin-top: 3px;
  }
}

div.hotentry-normal-domain {
  font-size: 11px;
}

div.hotentry_container {
  margin: auto;
  width: 900px;
}

h1.hotentry a{
  //margin-left: 0;
  color: #999;
}

ul.entry_container {
  //margin: 0px 0px;
}

ul.entry_container li {
  list-style-type: none;
  line-height: 1;
  margin-top: 20px;
}

div.entry_box {
  margin: auto;
  //width: 945px;
  border: solid 2px #eee;
  border-top: solid 3px #F5AC0F;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
}

div.entry_box_no_sum {
  margin: auto;
  //width: 945px;
  border: solid 2px #eee;
  border-top: solid 3px #0FC7F5;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
}

div.entry_box_top {
  //width: 945px;
  //height: 80px;
  border-bottom: solid 1px #eee;
}

div.entry_title {
  //width: 590px;
  //padding-left: 10px;
  //font-size: 18px;
  //float: left;
}

div.entry_title h3 {
  font-size: 20px;
  margin-top: 8px;
  height: 60px;
  text-decoration: underline;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  color: #999;
}

div.entry_count_num {
  line-height: 16px;
  padding: 9px;
  //width: 107px;
  height: 80px;
  //width: 88px;
  //height: 58px;
  //float: right;
  border-left: solid 1px #eee;
  text-align: center;
}

span.entry_count_label {
  //text-decoration: underline;
  font-size: 14px;
}

span.entry_count_num {
  font-size: 32px;
}

div.entry_box_left {
  //width: 760px;
  //height: 275px;
  //border-right: solid 1px #eee;
  padding: 10px 0px;
  //float: left;
}

div.entry_box_right {
  //margin-left: 20px;
  //border-left: solid 1px #eee;
  //width: 180px;
  //height: 270px;
  //height: 175px;
  //float: left;
  //text-align: center;
  //padding-top: 60px;
}

div.entry_summary_label {
  //clear: both;
  //margin: 5px;
}

div.entry_top_icon {
  padding: 10px;
  height: 80%;
  //float: left;
  text-align: center;
}

div.entry_contents_prev {
  font-size: 14px;
  margin-top: 5px;
  border: solid 1px #eee;
  padding: 10px;
  height: 150px;
}

div.entry_contents_prev_label {
  //padding-left: 0;
  margin-top: 0px;
  font-size: 16px;
}

div.entry_summary_label {
  height: 26px;
  position: relative;
}

div.entry_summary_label label {
  //margin-left: 10px;
  font-size: 16px;
  //text-decoration: underline;
}

div.entry_top_summary {
  //padding: 5px;
  height: 170px;
  //width: 600px;
  //float: left;
}

div.entry_top_summary_user span {
  //vertical-align: 50%;
  //margin-left: 3px;
  font-size: 14px;
}

div.entry_top_summary textarea {
  padding: 10px;
  border: solid 1px #eee;
  background-color: #fff;
  resize: none;
  margin-top: 7px;
  width: 100%;
  height: 154px;
  font-size: 14px;
}

div.entry_top_like {
  padding-top: 30px;
  padding-left: 0px;
  height: 140px;
  //width: 113px;
  //float: left;
  border-left: 0px #eee;
  text-align: center;
}

div.entry_top_like_label label {
  margin: 5px 0px;
  //clear: both;
}

div.entry_like_num {
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  margin: auto;
  position: relative;
  background: #eee;
  height: 50px;
  width: 100px;
  margin-bottom: 10px;
}

div.entry_like_num:after {
  content: '';
  position: absolute;
  border-top: 10px solid #eee;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  bottom: -9px;
  left: 5px;
}

div.entry_like_num div {
  width: 94px;
  position: absolute;
  bottom: 9px;
  left: 3px;
  padding-top: 15px;
  font-size: 32px;
}

button.read_it_later {
  font-size: 12px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #60b044;
  background-repeat: repeat-x;
  border-color: #5ca941;
  width: 80px;
  height: 30px;
  outline: none;
  border-radius: 5px;  /* CSS3草案 */
  -webkit-border-radius: 5px;  /* Safari,Google Chrome用 */
  -moz-border-radius: 5px; /* Firefox用 */
  background-image: -moz-linear-gradient(#8add6d, #60b044);
  background-image: -webkit-linear-gradient(#8add6d, #60b044);
  background-image: linear-gradient(#8add6d, #60b044);
  //margin-bottom: 1em;
  margin-top: 5px;
  border: 1px solid #d8d8d8;
}

button.read_it_cancel {
  font-size: 11px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #999;
  background-repeat: repeat-x;
  border-color: #999;
  width: 80px;
  height: 30px;
  outline: none;
  border-radius: 5px;  /* CSS3草案 */
  -webkit-border-radius: 5px;  /* Safari,Google Chrome用 */
  -moz-border-radius: 5px; /* Firefox用 */
  background-image: -moz-linear-gradient(#aaa, #999);
  background-image: -webkit-linear-gradient(#aaa, #999);
  background-image: linear-gradient(#aaa, #999);
  //margin-bottom: 1em;
  margin-top: 5px;
  border: 1px solid #d8d8d8;
}

button.mark_as_read {
  font-size: 10px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #60b044;
  background-repeat: repeat-x;
  border-color: #5ca941;
  width: 80px;
  height: 30px;
  outline: none;
  border-radius: 5px;  /* CSS3草案 */
  -webkit-border-radius: 5px;  /* Safari,Google Chrome用 */
  -moz-border-radius: 5px; /* Firefox用 */
  background-image: -moz-linear-gradient(#8add6d, #60b044);
  background-image: -webkit-linear-gradient(#8add6d, #60b044);
  background-image: linear-gradient(#8add6d, #60b044);
  //margin-bottom: 1em;
  border: 1px solid #d8d8d8;
}

button.mark_as_unread {
  font-size: 12px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #999;
  background-repeat: repeat-x;
  border-color: #999;
  width: 80px;
  height: 30px;
  outline: none;
  border-radius: 5px;  /* CSS3草案 */
  -webkit-border-radius: 5px;  /* Safari,Google Chrome用 */
  -moz-border-radius: 5px; /* Firefox用 */
  background-image: -moz-linear-gradient(#aaa, #999);
  background-image: -webkit-linear-gradient(#aaa, #999);
  background-image: linear-gradient(#aaa, #999);
  border: 1px solid #d8d8d8;
}

