// Place all the styles related to the mypage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.myrow {
  margin-left: -30px;
}

.span3 {
  border: 2px solid #ddd;
  padding: 5px;
//  height: 1000px;
  height: 500px;

  float: left;
  margin: 20px 0px 0px 10px;
  width: 270px;
  color: #a2a2a2;

  // ----------------------
  // user-profile
  // ----------------------
  #user-profile {
    height: auto;

    img {
      width: 100px;
      height: 100px;
      float: left;
      margin-right: 5px;
      margin-bottom: 3px;
    }

    #prof-user-name {
     width: 160px;

      float: left;
      p {
        font-size: 16px;
        font-weight: 550;
        margin: 5px 0px 5px 0px;
      }

      a {
        background-color: #a2a2a2;
        color: white;
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;
        &:hover {
          background-color: #5B91FF;
        }
      }

      hr {
        width: 100%;
        &+a {
          margin: 0px 0px 5px 0px;
        }
      }

      div {
        height: 20px;
      }
    }
  }

  span {
    word-wrap: break-word;
  }

  hr {
    width: 245px;
    clear: left;
  }

  // ----------------------
  // user-info-tab
  // ----------------------
  #user-info-tab {
    height: 50px;
    padding-left: 15px;
    ul {
      list-style: none;
      margin: 0px;
      li {
        float: left;
        margin: 0px;
        text-align: center;
      }

      .prof-tab-elem {
        width: 32%;
        font-size: 15px;
        line-height: 25px;

        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;

        a {
          color: #a2a2a2;
        }

        &:hover {
          a {
            color: #5B91FF;
          }
        }

      }

      .active {
        #info-tab-marker {
          background-color: #5B91FF;

          margin-right: auto;
          margin-left: auto;
          width: 80%;
          height: 3px;
        }
      }

      .divider-vertical {
        height: 50px;
      }
    }
  }

  // ----------------------
  // user-info
  // ----------------------
  #user-info {
    div {
      display: none;
    }

    .active {
      display: block;
    }

    #prof-tab-following {
      margin-left: 10px;
    }
    #prof-tab-followers {
      margin-left: 10px;
    }
  }
}

.span9 {
  float: right;
}

.my-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

#article-controller {
//  border: 2px solid #ddd;
  width: 800px;

  float: left;
  margin-top: -15px;
  padding-left: 30px;

  .none > div, .none > a {
    display: none;
  }

  .active > div {
    background-color: #ddd;
  }

  .active > div, .active > a {
    display: block;
    border: 2px solid #ddd;
    border-radius: 0.3em;

//    background:-moz-linear-gradient(rgba(34,85,136,0.5), rgba(34,85,136,1));
//    background:-webkit-gradient(linear, 100% 0%, 100% 100%, from(#f6f4f6), to(#ddd));

    float: left;
    margin-left: 7px;
    margin-bottom: 3px;
    padding: 0px 10px 0px 0px;
    width: auto;
    height: 22px;

    img {
      float: left;
      margin-top: 3px;
      margin-left: 5px;
    }
    p {
      float: left;
      margin: 2px 0px 5px 5px;
      color: #a2a2a2;
    }
  }

  div > .page-ejection {
    float: right;
    border: 2px solid #ddd;
    border-radius: 0.3em;
    background-color: white;
    padding: 0px;

    ul {
      list-style: none;
      margin-top: 0px;
      margin-left: 0px;
      height: 100%;
      li {
        float: left;
        width: 20px;
        height: 100%;
        div {
          background-color: #ddd;
          width: 100%;
          height: 100%;
        }
      }
      .vertical-boder {
        border: 1px solid #ddd;
        height: 100%;
        width: auto;
      }
      .page-next {
        img {
          margin-left: 6px;
        }
      }
    }
  }
}

ul.tab {
  margin: 20px;
  padding: 0;
  padding-left: 18px;
  border-bottom: 2px #ddd solid;
  width: 810px;

  li {
    float: left;
    margin: 5px 5px 0px 0px;
    position: relative;
    bottom: -2px;
    list-style-type: none;
    border: 1px #ddd solid;
    border-bottom: 2px #ddd solid;
    text-align: center;

    a {
      color: #000;
      display: block;
      padding: 0px 10px 0px;
      text-decoration: none;
      background-color: #fff;
      font-size: 15px;
      color: rgb(162, 162, 162);

      &:hover {
        position: relative;
        background-color: gray;
        color: white;
      }
    }
  }
}

.clear:after {
  content: "";
  display: block;
}

.clear:after {
  clear: both;
}

.clear {
  zoom: 1;
}

.tab > .active > .none , .tab > .active > a {
  background-color: rgb(230, 230, 230);
  color: white;
}

.article-table {
  clear: left;
  width: 800px;
  padding-left: 35px;

  th {
    border-bottom: 2px solid #e5e5e5;
  }
}

.table-top {
  border: 1px solid #e5e5e5;
  color: white;
  background-color: rgb(230, 230, 230);
}

#article-title-top {
  width: 700px;
  padding: 4px 0px 0px 0px;
  input {
    margin-left: 4px;
  }
}

#summary-number-top {
  width: 100px;
  padding: 4px 0px 0px 0px;
}

.article-checkbox {
  float: left;
}

.title {
  width: 660px;
  float: left;
  margin-top: 1px;
  margin-left: 10px;
  text-align: left;
  font-size: 14px;
  font-weight: normal;

  a {
    color: gray;

    span {
      float: right;
      color: #F9ACAC;
      font-size: 10px;
    }

    &:hover {
      color: #5B91FF;
      text-decoration: underline;
      p {
        color: #5B91FF;
      }
    }
    p {
      margin-top: 0px;
  //    margin-left: -25px;
      font-size: 11px;
      color: rgb(162, 162, 162);
    }
  }
}

.num-column {
  border-bottom: 2px solid #e5e5e5;
  font-size: 20px;
  font-weight: normal;

  p {
    margin: 0px;
  }

  a {
    color: rgb(162, 162, 162);
  }

  &>a:hover {
    color: #5B91FF;
    text-decoration: underline;
  }

  span {
    p {
      font-size: 13px;
      margin-top: 0px;
    }
  }
}

.dropdown-checkbox {
  position: absolute;
  z-index: 2000;
  display: none;
  float: left;
  min-width: 130px;
  padding: 5px 10px;
  margin: 0px 0px 0px 30px;
  list-style: none;
  background-color: white;
  border-radius: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  &>li>a {
    color: gray;
  }
  &>li>a:hover {
    color: #5B91FF;
    text-decoration: underline;
  }
}

.open {
}

.open > .dropdown-checkbox {
  display: block;
}

.title > .dropdown-checkbox:before {
  position: absolute;
  z-index: 2002;
  top: 2px;
  left: -13px;
  display: inline-block;
  border-top: 7px solid transparent;
  border-right: 7px solid white;
  border-bottom: 7px solid transparent;
  border-left: 7px solid transparent;
  content: '';
}

.title > .dropdown-checkbox:after {
  position: absolute;
  z-index: 2001;
  top: 4px;
  left: -12px;
  display: inline-block;
  border-top: 6px solid transparent;
  border-right: 6px solid #ccc;
  border-bottom: 6px solid transparent;
  border-left: 6px solid transparent;
  content: '';
}

.dropdown-checkbox > li {
  font-size: 13px;
  font-weight: normal;
}

.article-table > .summary-table {
  display: none;
}

.article-table > .edited-summary-table {
  display: none;
}

.article-table > .favorite-table {
  display: none;
}

.article-table > .read-table {
  display: none;
}

.article-table > .reserved-table {
  display: none;
}

.article-table > .active {
  display: block;
}

#private-message {
  margin-left: 40px;
  font-size: 16px;
  font-style: italic;
  color: #a2a2a2;
}
