// Place all the styles related to the mypage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row {
  margin-left: -30px;
}

.span3 {
  border: 2px solid #ddd;
  padding: 5px;
//  height: 1000px;
  height: 500px;

  float: left;
  margin: 20px 0px 0px 10px;
  width: 270px;
  color: #a2a2a2;

  // ----------------------
  // user_profile
  // ----------------------
  #user_profile {
    height: auto;

    img {
      width: 100px;
      height: 100px;
      float: left;
      margin-right: 5px;
    }

    #prof_user_name {
      width: 150px;

      float: left;
      p {
        font-size: 16px;
        font-weight: 550;
        margin: 5px 0px 5px 0px;
      }

      a {
        background-color: #a2a2a2;
        color: white;
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;
        &:hover {
          background-color: #5B91FF;
        }
      }

      hr {
        width: 100%;
        &+a {
          margin: 0px 0px 5px 0px;
        }
      }

      div {
        height: 20px;
      }
    }

    #user_comment {
      p {
        margin: 0px 5px;
        word-break: break-all;
        word-wrap: break-word;
        white-space: pre-wrap;
      }
    }
  }

  hr {
    width: 90%;
  }

  // ----------------------
  // user_info_tab
  // ----------------------
  #user_info_tab {
    height: 50px;
    padding-left: 15px;
    ul {
      list-style: none;
      margin: 0px;
      li {
        float: left;
        margin: 0px;
        text-align: center;
      }

      .prof_tab_elem {
        width: 32%;
        font-size: 15px;
        line-height: 25px;

        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;

        a {
          color: #a2a2a2;
        }

        &:hover {
          a {
            color: #5B91FF;
          }
        }

      }

      .active {
        #info_tab_marker {
          background-color: #5B91FF;

          margin-right: auto;
          margin-left: auto;
          width: 80%;
          height: 3px;
        }
      }

      .divider-vertical {
        height: 50px;
      }
    }
  }

  // ----------------------
  // user_ifo
  // ----------------------
  #user_info {
    div {
      display: none;
    }

    .active {
      display: block;
    }

    #prof_tab_following {
      margin-left: 10px;
    }
    #prof_tab_followers {
      margin-left: 10px;
    }
  }
}

.span9 {
  float: right;
}

.my_overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

#operate_article {
//  border: 2px solid #ddd;
  width: 100%;

  float: left;
  margin-top: -15px;
  padding-left: 30px;

  div {
    border: 2px solid #ddd;
    border-radius: 0.3em;
    background-color: #ddd;
    //background-color: #f6f4f6;

//    background:-moz-linear-gradient(rgba(34,85,136,0.5), rgba(34,85,136,1));
//    background:-webkit-gradient(linear, 100% 0%, 100% 100%, from(#f6f4f6), to(#ddd));

    float: left;
    margin-left: 10px;
    margin-bottom: 3px;
    padding: 0px 10px 0px 0px;
    width: auto;
    height: 22px;

    img {
      float: left;
      margin-top: 3px;
      margin-left: 5px;
    }
    p {
      float: left;
      margin: 2px 0px 5px 5px;
      color: #a2a2a2;
    }
  }
}

ul.tab {
  margin: 20px;
  padding: 0;
  padding-left: 10px;
  border-bottom: 2px #ddd solid;
  li {
    float: left;
    margin: 5px 5px 0px 5px;
    position: relative;
    bottom: -2px;
    list-style-type: none;
    border: 1px #ddd solid;
    border-bottom: 2px #ddd solid;
    width: 150px;
    height: 38px;
    text-align: center;

    a {
      color: #000;
      display: block;
      padding: 3px 10px 5px;
      text-decoration: none;
      background-color: #fff;
      font-size: 16px;
      color: rgb(162, 162, 162);

      &:hover {
        position: relative;
        background-color: gray;
        color: white;
      }
    }
  }
}

.clear:after {
  content: "";
  display: block;
}

.clear:after {
  clear: both;
}

.clear {
  zoom: 1;
}

.tab > .active > .none , .tab > .active > a {
  background-color: rgb(230, 230, 230);
  color: white;
}

.table {
  clear: left;
  width: 800px;
  padding-left: 35px;
}

.table_top {
  border: 1px solid #e5e5e5;
  color: white;
  background-color: rgb(230, 230, 230);
}

#article_title_top {
  width: 700px;
}

#summary_number_top {
  width: 100px;
}

.title {
  border-bottom: 2px solid #e5e5e5;
  height: 30px;
}

.title > a {
  color: rgb(162, 162, 162);
  margin-left: 0px;

  &:hover {
    color: #5B91FF;
    text-decoration: underline;
  }
}

.num_column {
  border-bottom: 2px solid #e5e5e5;

  a {
    color: rgb(162, 162, 162);    
  }

  &>a:hover {
    color: #5B91FF;
    text-decoration: underline;
  }
}

#article_check {
  float: left;
  margin-left: 10px;
}

.dropdown-checkbox {
  position: absolute;
  z-index: 2000;
  display: none;
  float: left;
  min-width: 130px;
  padding: 5px 10px;
  margin: 0px 0px 0px 30px;
  list-style: none;
  background-color: white;
  border-radius: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  &>li>a {
    color: gray;
  }
  &>li>a:hover {
    color: #5B91FF;
    text-decoration: underline;
  }
}

.open {
}

.open > .dropdown-checkbox {
  display: block;
}

.title > .dropdown-checkbox:before {
  position: absolute;
  z-index: 2002;
  top: 2px;
  left: -13px;
  display: inline-block;
  border-top: 7px solid transparent;
  border-right: 7px solid white;
  border-bottom: 7px solid transparent;
  border-left: 7px solid transparent;
  content: '';
}

.title > .dropdown-checkbox:after {
  position: absolute;
  z-index: 2001;
  top: 4px;
  left: -12px;
  display: inline-block;
  border-top: 6px solid transparent;
  border-right: 6px solid #ccc;
  border-bottom: 6px solid transparent;
  border-left: 6px solid transparent;
  content: '';
}

.dropdown-checkbox > li {
  font-size: 13px;
  font-weight: normal;
}

.table > .summary_table {
  display: none;
}

.table > .edited_summary_table {
  display: none;
}

.table > .favorite_table {
  display: none;
}

.table > .read_table {
  display: none;
}

.table > .reserved_table {
  display: none;
}

.table > .active {
  display: block;
}

