// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "defval";

.sort-split-btn {
  button {
    color: gray;
    .caret {
      margin-left: 5px;
    }
  }
  ul > li > a {
    color: gray;
  }
}

.pagination {
  span, a {
    color: gray;
  }
  .current {
    font-size: 18px;
    color: #ff9b9b;
  }
}

#operation_area {
  border-bottom: 1px solid #ECECEC;
  width: 100%;
  #operation {
    width: 700px;
    margin: 25px auto 25px auto;
    #searchtext {
      width: 500px;
      height: 30px;
    }
    #search {
      margin-top: 0px;
      width: 100px;
      height: 30px;
    }
  }
}

#popular_tag_area {
  border-bottom: 1px solid #ECECEC;
  width: 100%;
  #tag {
    width: 800px;
    margin: 25px auto 25px auto;
    //border: 1px solid gray;
    padding: 0 10px 0 10px;
    line-height: 25px;
    p {
      font-size: 10px;
    }
    .edited_tag {
      margin: 2px 2px 0 2px;
      border-radius: 0.3em;
      background: gray;
      cursor:pointer;
      cursor:hand;
      a {
        color: white;
      }
    }
  }
}

#option_area {
  border-right: 1px solid #ECECEC;
  width: 15%;
  height: 500px;
  float: left;
  .type_area, .target_area, .category_area {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #ECECEC;
    p {
      color: gray;
      font-weight: bold;
      font-size: 20px;
    }
    .select_area {
      span:hover {
        padding: 0px 5px 0px 5px;
        font-size: 18px;
        border-radius: 0.2em;
        background: #efefef;
        color: gray;
        cursor:pointer;
        cursor:hand;
      }
    }
    .selected {
      padding: 0px 5px 0px 5px;
      font-size: 18px;
      border-radius: 0.2em;
      background-color: #ff9b9b;
      color:white;
    }
    .not_selected {
      font-size: 12px;
      color: gray;
    }
  }
}

#result_area {
  float: left;
  height: 100%;
  width: 85%;
  .user_contents_follow, .user_contents_not_follow {
    margin: auto;
    padding: 2px 0px 2px 0px;
    position: relative;
    border-top: 4px solid #ECECEC;
    z-index: 1;
    width: 760px;
    height: 75px;
    text-align: center;
    color: gray;
    #user_prof_image {
      height: 75px;
      width: 75px;
      float: left;
      img {
        height: 70px;
        width: 70px;
        display: block;
        margin: auto;
      }
    }
    #user_name {
      height: 35px;
      width: 150px;
      float: left;
      font-size: 20px;
    }
    #user_full_name {
      height: 35px;
      width: 250px;
      font-size: 20px;
      float: left;
    }
    #user_mail_addr {
      height: 18px;
      width: 250px;
      float: left;
      font-size: 10px;
    }
    #user_site {
      height: 17px;
      width: 250px;
      float: left;
      font-size: 10px;
    }
    #user_info {
      padding: 8px 0px 2px 0px;
      height: 35px;
      width: 400px;
      float: left;
      font-size: 15px;
    }
    #follow_info {
      padding: 4px 0px 2px 0px;
      height: 35px;
      width: 90px;
      float: left;
    }
  }
  #result_operation {
    padding: 5px 0px 5px 0px;
    margin: auto;
    position: relative;
    width: 760px;
    color: gray;
  }
  #checkbox {
    padding: 0 0 0 70px;
  }
  #message {
    padding: 0px 150px 0 20px;
    margin: 4px 10px 0 25px;
  }
  #sort {
    margin-left: auto;
    width: 65px;
  }
  .article_contents, .article_contents_not_read {
    margin: auto;
    position: relative;
    border-top: 2px solid #ECECEC;
    z-index: 1;
    width: 760px;
    height: 185px;
    color: gray;
    #thumbnail {
      padding: 2px 0 0 0;
      height: 100px;
      width: 125px;
      float: left;
      p {
        font-size: 30px;
      }
      img {
        max-height: 100px;
        max-width: 125px;
        display: block;
        margin: auto;
      }
    }
    #url_title {
      float: left;
      padding: 0 10px 0 10px;
      width: 450px;
      height: 60px;
      p a {
        color: gray;
        font-size: 18px;
      }
    }
    #url_host {
      padding: 0 3px 0 3px;
      width: 140px;
      height: 15px;
      p a {
        font-size: 10px;
      }
    }
    #contents_preview {
      border: 1px solid white;
      float: left;
      padding: 0 10px 0 10px;
      width: 580px;
      height: 65px;
      p {
        font-size: 10px;
      }
    }
    #article_infomation {
      float: left;
      width:  120px;
      height: 60px;
      #user_article_num {
        p {
          color: gray;
          font-size: 12px;
        }
      }
      #summary_num {
        color: #ff9b9b;
        a {
          font-size: 18px;
          color: #ff9b9b;
          text-decoration: underline;
        }
      }
    }
    #article_operation {
      float: left;
      width: 125px;
      height: 60px;
      p {
        font-size: 10px;
      }
    }
    .article-tags {
    float: left;
    padding: 0 10px 0 10px;
    width: 580px;
    height: 50px;
    .tags {
      list-style: none;
      margin-bottom: 0;
      li {
        float: left;
        height: 100%;
        line-height: 20px;
        position: relative;
      }
      a {
        font-size: 11px;
        color: gray;
        padding: 2px 10px 2px 12px;
        margin-right: 10px;
        background-color: #ddd;
        text-decoration: none;
        -moz-border-radius-bottomright: 4px;
        -webkit-border-bottom-right-radius: 4px;
        border-bottom-right-radius: 4px;
        -moz-border-radius-topright: 4px;
        -webkit-border-top-right-radius: 4px;
        border-top-right-radius: 4px;
      }
      a:before {
        content: "";
        float: left;
        position: absolute;
        top: 1px;
        left: -9px;
        width: 0;
        height: 5px;
        border-color: transparent #ddd transparent transparent;
        border-style: solid;
        border-width: 9px 9px 9px 0;
      }
      a:after {
        content: "";
        position: absolute;
        top: 8px;
        left: 0;
        float: left;
        width: 4px;
        height: 4px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        background: #fff;
      }
      a:hover {
        background: gray;
        color: white;
      }
      a:hover:before {
        border-color: transparent gray transparent transparent;
        color: white;
      }
    }
  }
}
}

.read_it_later {
  margin: 0px 0px 0px 25px;
  font-size: 11px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #60b044;
  background-repeat: repeat-x;
  border-color: #5ca941;
  width: 80px;
  height: 34px;
  outline: none;
  border-radius: 5px;  /* CSS3草案 */
  -webkit-border-radius: 5px;  /* Safari,Google Chrome用 */
  -moz-border-radius: 5px; /* Firefox用 */
  background-image: -moz-linear-gradient(#8add6d, #60b044);
  background-image: -webkit-linear-gradient(#8add6d, #60b044);
  background-image: linear-gradient(#8add6d, #60b044);
  //margin-bottom: 1em;
  margin-top: 10px;
  border: 1px solid #d8d8d8;
}

.read_it_cancel {
  margin: 0px 0px 0px 25px;
  font-size: 11px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #999;
  background-repeat: repeat-x;
  border-color: #999;
  width: 80px;
  height: 34px;
  outline: none;
  border-radius: 5px;  /* CSS3草案 */
  -webkit-border-radius: 5px;  /* Safari,Google Chrome用 */
  -moz-border-radius: 5px; /* Firefox用 */
  background-image: -moz-linear-gradient(#aaa, #999);
  background-image: -webkit-linear-gradient(#aaa, #999);
  background-image: linear-gradient(#aaa, #999);
  //margin-bottom: 1em;
  margin-top: 10px;
  border: 1px solid #d8d8d8;
}