// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  color: gray;
}

#search_main {
}

.pagination {
  span, a {
    color: gray;
  }
  .current {
    font-size: 18px;
    color: #ff9b9b;
  }
}

#operation_area {
  border-bottom: 1px solid #ECECEC;
  width: 100%;
  #operation {
    width: 700px;
    margin: 25px auto 25px auto;
    #searchtext {
      width: 500px;
    }
    #submit {
      width: 100px;
      height: 25px;
    }
  }
}

#popular_tag_area {
  border-bottom: 1px solid #ECECEC;
  width: 100%;
  #tag {
    width: 800px;
    margin: 25px auto 25px auto;
    //border: 1px solid gray;
    padding: 0 10px 0 10px;
    line-height: 25px;
    p {
      font-size: 10px;
    }
    .edited_tag {
      padding: 1px 2px 1px 2px;
      border-radius: 0.3em;
      background: gray;
      cursor:pointer;
      cursor:hand;
      a {
        color: white;
      }
    }
  }  
}

#option_area {
  border-right: 1px solid #ECECEC;
  width: 14%;
  height: 500px;
  float: left;
  .condition, .sort, .focus {
    text-align: center;
    height: 120px;
    border-bottom: 1px solid #ECECEC;
    .select_area {
      span:hover {
        border-radius: 2px;
        background: #ff9b9b;
        color:white;
        font-size: 18px;
      }
    }
    p {
      color: gray;
      font-size: 20px;
    }
    .selected {
      font-size: 18px;
      color: #ff9b9b;
    }
    .no_selected {
      font-size: 12px;
      color: gray;
    }
  }
}

#result_area {
  //border: 1px solid gray;
  float: left;
  height: 100%;
  width: 85%;
  #message {
    padding: 0px 25px 0 25px;
    margin: 4px 10px 0 25px;
    height: 25px;
  }
  .article_contents, .article_contents_not_read {
    margin: auto;
    padding: 18px 25px 0 25px;
    position: relative;
    //border: 1px solid #ECECEC;
    border-top: 4px solid #ECECEC;
    z-index: 1;
    width: 760px;
    height: 275px;
    #thumbnail {
      padding: 2px 0 0 0;
      height: 125px;
      width: 125px;
      //border: 1px solid gray;
      float: left;
      p {
        font-size: 30px;
      }
      img {
        max-height: 125px;
        max-width: 125px;
        //height: 100px;
        //width: 100px;
        display: block;
        margin: auto;
      }
    }
    #url_title {
      //border: 1px solid gray;
      float: left;
      padding: 0 10px 0 10px;
      width: 630px;
      height: 60px;
      p a {
        color: black;
        font-size: 20px;
      }
    }
    #url_host {
      //border: 1px solid gray;
      float: left;
      padding: 0 10px 0 10px;
      width: 760px;
      height: 15px;
      p a {
        color: black;
        font-size: 10px;
      }
    }
    #contents_preview {
      border: 1px solid white;
      float: left;
      padding: 0 10px 0 10px;
      max-width: 680px;
      width: 580px;
      height: 125px;
      p {
        font-size: 10px;  
      }  
    }
    #article_infomation {
      float: left;
      //border: 1px solid gray;
      width: 80px;
      height: 60px;
      #user_article_num {
        p {
          color: #ff9b9b;
        }
      }
      #summary_num {
        a {
          font-size: 25px;
          color: gray;
        }
        p {
          color: gray;
        }
      }
    }
    #article_operation {
      //border: 1px solid gray;
      float: left;
      width: 150px;
      height: 40px;
      p {
        font-size: 10px;  
      }  
    }
    #category {
      border: 1px dotted gray;
      float: left;
      width: 100px;
      height: 40px;
      p {
        font-size: 10px;  
      }  
    }
    #tag {
      //border: 1px solid gray;
      float: left;
      padding: 0 10px 0 10px;
      width: 400px;
      height: 40px;
      line-height: 25px;
      p {
        font-size: 10px;  
      }
      .edited_tag {
        padding: 1px 2px 1px 2px;
        border-radius: 0.3em;
        background: gray;
        cursor:pointer;
        cursor:hand;
        a {
          color: white;
        }
      }
    }
  }
}

button.read_it_later {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #60b044;
  background-repeat: repeat-x;
  border-color: #5ca941;
  width: 80px;
  height: 34px;
  outline: none;
  border-radius: 5px;  /* CSS3草案 */
  -webkit-border-radius: 5px;  /* Safari,Google Chrome用 */
  -moz-border-radius: 5px; /* Firefox用 */
  background-image: -moz-linear-gradient(#8add6d, #60b044);
  background-image: -webkit-linear-gradient(#8add6d, #60b044);
  background-image: linear-gradient(#8add6d, #60b044);
  //margin-bottom: 1em;
  margin-top: 10px;
  border: 1px solid #d8d8d8;
}

button.read_it_cancel {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #999;
  background-repeat: repeat-x;
  border-color: #999;
  width: 80px;
  height: 34px;
  outline: none;
  border-radius: 5px;  /* CSS3草案 */
  -webkit-border-radius: 5px;  /* Safari,Google Chrome用 */
  -moz-border-radius: 5px; /* Firefox用 */
  background-image: -moz-linear-gradient(#aaa, #999);
  background-image: -webkit-linear-gradient(#aaa, #999);
  background-image: linear-gradient(#aaa, #999);
  //margin-bottom: 1em;
  margin-top: 10px;
  border: 1px solid #d8d8d8;
}