// Place all the styles related to the YouyakuLists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



//---------------------------------------
// whole layout
//---------------------------------------

#sumlist_layout{

	margin: 20px 0px 0px 10px;

	//----------------------------------------	
	// summary_lists
	//----------------------------------------
	#summary_lists{
		margin: 0 auto;
		width: 1000px;
		color: #a2a2a2;

		//----------------------------------------	
		//  class 
		//----------------------------------------
		.main{
			border: 2px solid #ddd;
			width: 750px;
			padding: 10px;
		}

		.status{
			border: 2px solid #ddd;
			width: 150px;
			padding: 10px;
		}
		//----------------------------------------	
		//  article 
		//----------------------------------------
		#article_title{
			height: 60px;
			font-size: 24px;
			background: #c6c6c6;
			color: #FFFFFF;
			a.summary_list_link{ color: #FFFFFF }
		}

		#article_status{
			height: 60px;
			text-align: center;
			vertical-align: top;
			a.summary_list_link{ color: #a2a2a2 }

			hr{
				border: 0.5px solid #ddd;
			}
			//-------------------------------------------
			//  read bottun
			//-------------------------------------------

			#article_read_mark{
				margin: 0 auto;
				border: 0.5px solid #ddd;
				border-radius: 5px;
				width:  140px;
				height: 22px;
			}	

			#check_bottun_icon{
				float: left;
				padding: 3px 0px 0px 6px;				
			}
			#read_link{
				padding: 3px 0px 0px 0px;				
			}

			//-------------------------------------------
			//  read bottun
			//-------------------------------------------
			#mark_user_count{

			}
		} 

		//----------------------------------------	
		//  summary 
		//----------------------------------------
		#summary_detail{
			height: 150px;
			font-size: 20px;
			vertical-align: top;
		}

		#summary_auther{
			vertical-align: top;

			hr{
				clear:both;
				border: 0.5px solid #ddd;
			}

			//-------------------------------------------
			//  auther
			//-------------------------------------------
			#last_update_time{
				margin: 8px 10px 0px 10px;				
				clear: both;
			}
			#auther_name{
				margin: 8px 0px 0px 0px;				
				a{ color: #a2a2a2 }
			}

			#auther_photo{
				margin: 8px 8px 8px 8px;				
				float: left;
			}

			//-------------------------------------------
			//  iiyo 
			//-------------------------------------------
			.iiyo{
				margin: 0 auto;
				width:  140px;
				height: 21px;
				#bottun{
				margin: 0px 10px 0px 0px;				
					float: left;
					background: white;
				}

				#cmpBottun{
				margin: 0px 10px 0px 0px;				
					float: left;
					background: gray;
				}

				#count{
				padding: 3px 0px 0px 0px;				
				}
			}
		} 
	}
}
