// Place all the styles related to the summary controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "summary_settings";

@mixin count_style {
  width: 50px;
  font-size: 15px;
  padding: 10px;  
}

@mixin content_style {
  width: $contentWidth;
  height: $contentHeigth; 
}

#edit_summary {

  table {
    width: 800px;
    border: 1px solid #ccc;

    .table_top {
      border: 1px solid #e5e5e5;
      color: white;
      background-color: #e6e6e6;

      #title_top, #summary_top {
        width: 700px;
        padding: 4px 0px 0px 0px;
      }
    }
  }
}

#operate_summary {
  padding: 10px;
}

.edit {
  position: relative;
  padding: 3px;
  border-radius: 3px;
  margin: 0 0 15px 0;
}

.num_column, .count {
  @include count_style;
}

.count_over {
  @extend .count;
  color: red;
}


#content {
  @include content_style;
}

#content_disabled {
  @extend #content;
  background-color: whitesmoke;
}

.help {
  cursor: help;
}