// Place all the styles related to the YouyakuLists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//---------------------------------------
// Page Color Define
//---------------------------------------

#color_scheme{
  //BaseBackGroundColor
  color: #FEE5E5;
  //BaseTextColor
  color: #4C4545;

  //HighSaturationColor
  color: #FF9B9B;
}

//---------------------------------------
// whole layout
//---------------------------------------
hr {
  margin: 5px 0px 10px 0px;
  height:2px;
  border:0;
  background:linear-gradient(left, #f5f5f5, #999, #f5f5f5);
  background:-webkit-linear-gradient(left, #f5f5f5, #999, #f5f5f5);
  background:-moz-linear-gradient(left, #f5f5f5, #999, #f5f5f5);
}

#summary_list_container{
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 80%;
  max-width: 980px;
}

#summary_list{
    border-top: solid;
    border-bottom: solid;
    border-color: #BBB;

  //for my Kaminari
  .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0;
    border-radius: 4px;
  }

  #summary_list_header{


    padding-top: 5px;


    #summarize{
      padding-top: 5px;
    }

    #article_readers_num{
      vertical-align: text-bottom;
      color: #E88100;
      font-size: 20px;
    }
    #read_button{
      font-weight: bold;
    }

    #article_read_later{
    }

    #article_read_mark{
    }

    #article_readers_char{
      color: #E88100;
    }
  }
  #summary_list_footer{


  }

  #hr_summary_list_header
  { 
    
  }
  #summary_list_body{ 

    #paginate{ 
      height: 40px;
      text-align: center; 
    }

    #article_title{ font-weight: bold; 
      font-size: 23px; 
      overflow: hidden;
      //white-space: nowrap;
      text-overflow: ellipsis;
      -moz-text-overflow:ellipsis; /* Firefox */
      -o-text-overflow: ellipsis; /* Opera */
    }
    #display_preview{
      cursor: pointer;
    }

    #hide_preview{
      cursor: pointer;
    }

    #preview{
      padding-top: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      margin: 0px 5px 15px 0px;
    }

    #tags_header{
      white-space: nowrap;
      padding-left: 10px;
      padding-right: 10px;
      border: solid;
      border-color: #FEE5E5;
      text-align: center;
      border-radius: 5px;
    }

    #tags_box{
      #tags{
        padding: 0px 2px 0px 2px;
        margin: 2px;
        white-space: nowrap;
        background-color: #FEE5E5;
        border-radius: 5px;
      }
    }
    
    #notags{
        padding-top: 2px;
    }
    #summary_box{
      min-height: 80px;
      padding: 3px 3px 10px 3px;
      margin: 15px 5px 15px 0px;
      background-color: #FFFFFF;
      border-style: solid;
      border-color: #AAA;
      border-width: 1px;
      #summary_box_left{
        padding: 0px;
        #summary_auther_img{
        }
      }

      #summary_box_right{
        #summary_box_header{
          padding-top: 5px;
          #hr_summary_box_header
          {
            background-color: #FFFFFF;
          }

          #follow_button{
            margin-top: 5px;
            font-weight: bold;
            width: 80px;
          }

          #good_button{
            vertical-align: top;
            font-weight: bold;
            width: 80px;
          }

          #count{
            border-radius: 10px;
            padding: 2px 10px 2px 10px;
            background-color: #FEE5E5;
            font-weight: bold;
            font-size: 20px;
          }
        }
        #summary_box_body{
          font-size: 18px;

        }
        #summary_box_footer{

        }
      }

    }
  }

  #article_footer{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

  }
}


//----------------------------------------	
//  readmore_char (for readmore.js) 
//----------------------------------------
.readmore_char{
  padding-right: 30px;
  font-size: 14px;
  text-align: right;
}
