// Place all the styles related to the summary controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#edit_summary {

  table {
    width: 800px;
    border: 1px solid #ccc;

    .table_top {
      border: 1px solid #e5e5e5;
      color: white;
      background-color: #e6e6e6;

      #title_top #summary_top {
        width: 700px;
        padding: 4px 0px 0px 0px;
      }
    }
  }
}

#operate_summary {
  padding: 10px;
}

.edit {
  position: relative;
  padding: 3px;
  border-radius: 3px;
  margin: 0 0 15px 0;
}

.count {
  padding: 10px;
  width: 50px;
}

.count_over {
  padding: 10px;
  color: red;
  width: 50px;
}


.content {
  width: 700px;
  height: 200px;
}

.content_disabled {
  background-color: whitesmoke;
  width: 700px;
  height: 200px;
}

.help {
  cursor: help;
}