<div id="yBox">
	<h1 id="yArticleName">
		<% if  @article != nil %>
			<%= @article.title %>	
		<% end %>
	</h1>

	<div id="yArticleLink">

		<% if  @article != nil %>
			<%= link_to("元記事を見る",@article.url) %>
		<% end %>

	</div>

	<% unless @summarys.blank? %>
		<% @summarys.each_with_index do |summary,i| %>
			<div id="yAuther">
				<%= @sumUsers[i].name %>	
			</div>
			<h2 id="yArticleDetail">
				<%= simple_format(summary.content) %>	
			</h2>
		<% end %>
	<% else %>
		<!-- 建設中 -->
	<% end %>
	<div id="yLinkToOtherY">
		他の要約を見る
	</div>
</div>
