

<div id="yBox">
	<h1 id="yArticleName">

	<%= @article.article_title %>	

	</h1>

        <div id="yArticleLink">
        
	<%= link_to("元記事を見る",@article.article_url) %>
        
	</div>

      
	<div id="yAuther">
        
	要約した人:	
	<%= @sumUser.user_name %>	
	</div>

	<h2 id="yArticleDetail">

	<%= @summary.summary_content %>	

	</h2>


	<div id="yLinkToOtherY">
        
	他の要約を見る
	
	</div>
</div>


