

<div id="yBox">
	<h1 id="yArticleName">
        <% if  @article != nil %>
	<%= @article.title %>	
        <% end %>
	</h1>

        <div id="yArticleLink">
        
        <% if  @article != nil %>
	<%= link_to("元記事を見る",@article.url) %>
        <% end %>
	
	</div>

      
	<div id="yAuther">
        
        <% if  @sumUsers[0] != nil %>
		<%= @sumUsers[0].name %>	
	<% end %>
	
	</div>

	<h2 id="yArticleDetail">

        <% if  @summarys[0] != nil %>
		<%= @summarys[0].content %>	
	<% end %>

	</h2>


	<div id="yLinkToOtherY">
        
	他の要約を見る
	
	</div>
</div>


